h1 {
    margin-left: 40px;
    margin-top: 20px;
}

nav {
    margin-right: 74%;
    margin-left: 40px;
}

p {
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}