<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel='stylesheet' href="/static/css/index.css">
    <link rel="icon" href="/static/images/gallows.png">
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <div id="left_menu_link" class="left">
            <a href="/" style="text-decoration: none; color: rgba(255, 255, 255, 0.948); display: flex;">
                <li class="logo">
                    <img src="/static/images/gallows.png" width="37" height="37">
                </li>
                <li class="name_of_app">
                    <h2 id="menu">Висельница</h2>
                </li>
            </a>
            </a>
        </div>
        <div id="right_menu_link" class="right bg-dark">
            <div class="dropdown dropstart text-end position" style="max-width: 30%;">
                <button type="button" class="btn btn-dark dropdown-toggle bg-dark text-white" data-bs-toggle="dropdown">
                    {%if current_user.is_authenticated%}
                    <span id="menu" style="font-size: 20px; padding: 2px; ">{{current_user.username}} <img class="rounded-circle"
                            src="/static/images/user.svg" alt="" style="width: 50px; height: 50px;"></span>
                    {%else%}
                    <span style="font-size: 20px; padding: 2px;"><img class="rounded-circle"
                            src="/static/images/anonym.svg" alt="" style="width: 50px; height: 50px;"></span>
                    {%endif%}
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <p id="menu">
                            <a class="navbar-brand" href="/" aria-current="page">
                                <img src="/static/images/game.svg" width="25" height="25"
                                    class="d-inline-block align-text-top">
                                Игра
                            </a>
                        </p>
                    </li>
                    <li>
                        <p id="menu">
                            <a class="navbar-brand" href="/main-page/rules" aria-current="page">
                                <img src="/static/images/rules.svg" width="25" height="25"
                                    class="d-inline-block align-text-top">
                                Правила
                            </a>
                        </p>
                    </li>
                    <li>
                        <p id="menu">
                            <a class="navbar-brand" href="/rating" aria-current="page">
                                <img src="/static/images/rating.png" width="25" height="25"
                                    class="d-inline-block align-text-top">
                                Рейтинг
                            </a>
                        </p>
                    </li>
                    <li>
                        <p id="menu">
                            <a class="navbar-brand" href="/main-page/fun_facts" aria-current="page">
                                <img src="/static/images/fun_facts.svg" width="25" height="25"
                                    class="d-inline-block align-text-top">
                                Fun facts
                            </a>
                        </p>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                        </hr>
                    </li>
                    {%if not current_user.is_authenticated%}
                    <li>
                        <p id="menu">
                            <a class="navbar-brand" href="/main-page/sign-in" aria-current="page">
                                <img src="/static/images/enter.png" width="25" height="25"
                                    class="d-inline-block align-text-top">
                                Войти
                            </a>
                        </p>
                    </li>
                    <li>
                        <p id="menu">
                            <a class="navbar-brand" href="/main-page/sign-up" aria-current="page">
                                <img src="/static/images/register.png" width="25" height="25"
                                    class="d-inline-block align-text-top">
                                Регистрация
                            </a>
                        </p>
                    </li>
                    {%endif%}
                    {%if current_user.is_authenticated%}
                    <li>
                        <p id="menu">
                            <a class="navbar-brand" href="/logout" aria-current="page">
                                <img src="/static/images/exit.png" width="25" height="25"
                                    class="d-inline-block align-text-top">
                                Выйти
                            </a>
                        </p>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </header>
    <main role="main">
        {% block content %}{% endblock %}
    </main>
</body>

</html>
