{% extends "base.html" %}

{% block content %}
<div id='gallows_table' style="display: block;">
    <ul id="one">
        <li>
            <div><h2>ВИСЕЛЬНИЦА</h2></div>
            <div id="display"></div>  <!--Контейнер для отображения слова, которое отгадывают-->
            <div id="attempts">0</div>  <!--Контейнер для отображения количества используемых попыток-->
            <div><img src="static\images\gallows_man.PNG" alt="картинка_строящейся_висельницы" height="300" width="278"></div>
            <button class="btn" style="background-color: black; color: white;" id="start_button">Старт</button>  <!--Кнопка для запуска игры-->
            <div id="used_letters"></div> <!--Использоанные буквы-->
        </li>
    </ul>
    <ul id="one">
        <li>
            <table>
                <tr>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="А"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Б"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="В"></td>
                </tr>
                <tr>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Г"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Д"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Е"></td>
                </tr>
                <tr>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Ё"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Ж"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="З"></td>
                </tr>
                <tr>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="И"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Й"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="К"></td>
                </tr>
                <tr>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Л"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="М"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Н"></td>
                </tr>
                <tr>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="О"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="П"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Р"></td>
                </tr>
                <tr>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="С"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Т"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="У"></td>
                </tr>
                <tr>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Ф"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Х"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Ц"></td>
                </tr>
                <tr>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Ч"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Ш"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Щ"></td>
                </tr>
                <tr>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Ъ"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Ы"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Ь"></td>
                </tr>
                <tr>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Э"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Ю"></td>
                    <td><input class="letter btn btn-lg" style="background-color:rgb(22, 173, 143);" type="button" value="Я"></td>
                </tr>
            </table>
        </li>
    </ul>
    <!-- <input type="button" value="Привет"> -->
</div>
<script src="static/script.js"></script>
{% endblock %}
