{% extends "base.html" %}

{% block content %}
<div class="table_rating" style="margin-top: 5vh;">
    <h2 style="margin-bottom: 20px;">Рейтинг игроков</h2>
    <table class="table table-dark table-hover" style="max-width: 30vw;">
        <thead>
            <tr id="param_in_table">
                <th scope="col"></th>
                <th scope="col">Имя</th>
                <th scope="col">Возраст</th>
                <th scope="col">Отгаданных слов</th>
            </tr>
        </thead>
        <tbody>
            {% for item in user %}
            <tr>
                <th id="param_in_table" scope="row">{{ loop.index }}</th>
                <td><span id="name_table_rating">{{ item.username }}</span></td>
                <td id="param_in_table">{{ item.age }}</td>
                <td id="param_in_table">{{ item.rating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
