{%extends "base.html"%}
{%block content%}
<div class="container" style="padding: 0; max-width: 100%; margin-top: 10vh; align-self: left; padding-right: 15px; margin-left: 5vw; word-wrap: break-word; flex-wrap: wrap;">
    <h2 style="font-size: 40px; max-width: 80vw; word-wrap: break-word; flex-wrap: wrap;">Что такое игра "Висельница"?</h2>
    <p style="font-size: 30px; margin: 0; margin-top: 50px; margin-left: 25px; width: 90vw; padding-right: 15px; word-wrap: break-word; flex-wrap: wrap;">Игра
        «Висельница» - лингвистическая игра, в которой нужно отгадывать слова.
        Игрок, загадавший слово, пишет на листе бумаги ряд чёрточек, количество которых соответствует количеству букв в
        загаданном слове.
        Традиционно загаданное слово должно быть именем существительным в единственном числе.
        Игрок, отгадывающий слово, называет букву, которая может содержаться в загаданном слове.
        Если последнее содержит такую букву, она пишется над всеми соответствующими этой букве чёрточками.
        В случае, если названной буквы в загаданном слове нет, на листе рисуется один элемент виселицы с человечком.
        Затем отгадывающий называет новую букву, и так далее - до завершения. После каждой неудачной попытки к рисунку
        добавляется следующий элемент виселицы.
        В момент, когда виселица отрисована полностью, отгадывающий слово игрок признаётся проигравшим и считается
        «повешенным».</p>
</div>
{%endblock%}
