{%extends "base.html"%}
{%block content%}
<div class="container" style="margin-top: 10vh; max-width: 40vw; word-wrap: break-word; flex-wrap: wrap;">
    <h2>Что такое "Игра в висельницу"?</h2>
    <p style="font-size: 30px; margin-top: 20px;">«Игра в висельницу» - лингвистическая игра, в которой нужно отгадывать слова.
        Игрок, загадавший слово, пишет на листе бумаги ряд чёрточек, количество которых соответствует количеству букв в загаданном слове.
        Традиционно загаданное слово должно быть именем существительным в единственном числе.
        Игрок, отгадывающий слово, называет букву, которая может содержаться в загаданном слове.
        Если последнее содержит такую букву, она пишется над всеми соответствующими этой букве чёрточками.
        В случае, если названной буквы в загаданном слове нет, на листе рисуется один элемент виселицы с человечком.
        Затем отгадывающий называет новую букву, и так далее - до завершения. После каждой неудачной попытки к рисунку добавляется следующий элемент виселицы.
        В момент, когда виселица отрисована полностью, отгадывающий слово игрок признаётся проигравшим и считается «повешенным».</p>
</div>
{%endblock%}
