{%extends "base.html"%}
{%block content%}
<div class="container" style="margin-top: 10vh;">
    {%if current_user.username == user.username%}
    <h2>Вы</h2>
    {%else%}
    <h2>{{user.username}}</h2>
    {%endif%}
    <p style="margin-left: 20px;"><img src="/static/images/user.svg" alt="" width="300" height="300" class="rounded-circle"></p>
    <p>Имя пользователя</p>
    <p><input class="form-control" value={{user.username}} disabled></p><br>
    <p>Почта пользователя</p>
    <p><input class="form-control" value={{user.email}} disabled></p><br>
    <p>Возраст пользователя</p>
    <p><input class="form-control" value={{user.age}} disabled></p><br>
    <p>Количество отгаданных слов</p>
    <p><input class="form-control" value={{user.rating}} disabled></p><br>
</div>
{%endblock%}
